# Python para Economistas: Primera Clase

#### 1. Values y variable names

    En python es importante distinguir entre valores y nombres de variables. 
    Los valores más básicos con los que se puede trabajar en python son integers (enteros), floats (fracciones) y strings (texto).

In [5]:
"Franco Calle"  #String

'Franco Calle'

In [6]:
1 #Integer

1

In [7]:
2. #Float

2.0

    A estos valores usulamente queremos asignarle un nombre (variable name) para luego referirnos a el en siguientes operaciones. En el siguiente ejemplo nombramos el valor string "Franco Calle" como "nombre". Luego usamos la función print para revelar o imprimir que es lo que contiene 'nombre'.

In [10]:
firstName = "Franco"
lastName  = "Calle"

print(firstName, lastName)

Franco Calle

#### 2. Operaciones con strings

    Podemos además llamar las variables que creamos y hacer operaciones con ellas. En el siguiente ejemplo juntamos strings.

In [12]:
fullName = firstName + ' ' + lastName

print(fullName)

Franco Calle

#### 3. Numeros y operaciones con numeros:
    Así mismo podemos realizar operaciones con integers floats y otros objetos. Esto se puede realizar sin la necesidad de asignarles un nombre de variable, en este caso la operacion crea un objeto temporal que es visualizado en el kernel.

In [16]:
print(
    3,
    1+2,
    2-1,
    2*3,
    4/2,
    4**2,
    4%3,
    5//2,
    4.5, # Float:
    True,
    False)

3 3 1 6 2.0 16 1 2 4.5 True False

#### 4. Tipos de objetos:
    Python te permite examinar el tipo de elemento con la funcion type(). Los tipos más basicos son int, float, str y bool.

In [20]:
type(3)

int

In [19]:
type(3.)

float

In [21]:
type("3.")

str

In [22]:
type(True)

bool

#### 5. Cambio de tipo de elementos
    Es posible además cambiar de tipo los elementos que querramos. Por ejemplo cambiar float a int para ahorrar memoria ram.

In [23]:
int(4.5)

4

In [24]:
int(True)

1

In [25]:
int(False)

0

In [26]:
float(True)

1.0

In [27]:
float(3)

3.0

    Cambiar de tipo un objeto en el caso de números es dinstinto a redondearlos. Para redondearlos matemáticamente usamos la función round().

In [28]:
print('%s %s' % (round(4.51), int(4.51)))

5 4

#### 6. Redondear Numeros y otras operaciones :

    También podemos aplicar distintas funciones básicas predetermidas en python para ejecutar operaciones en numeros.

In [29]:
abs(-2)    #Valor absoluto

2

In [68]:
round(4.5)
round(4.51)
print('%s %s' % (round(4.51), int(4.51))) # Redondear

5 4

In [31]:
divmod(9,4) #Coeficiente y residuo

(2, 1)

In [32]:
pow(4,2)

16

#### 7. Pedir insumos al usuario:
    Podemos pedir a python que interactue con  el usuario. En este python pide al usuario que introduzca un numero.

In [34]:
beautiful_number  = input("Tell me a beautiful number")
print(beautiful_number)

Tell me a beautiful number213
213

#### 9. Listas y strings:

    Las listas son colecciones de elementos del mismo o distinto tipo de manera ordenada, las listas por lo general se introducen entre brackets [obj1, obj2]. En este caso, los strings tambien son listas donde cada caracter en el string es un elemento de la lista.

In [69]:
[1,2,3,4]

[1, 2, 3, 4]

In [70]:
list(nombre)

['F', 'r', 'a', 'n', 'c', 'o', ' ', 'C', 'a', 'l', 'l', 'e']

    Podemos multiplicar la lista y crear repeticiones.

In [71]:
[1] * 5

[1, 1, 1, 1, 1]

In [72]:
print("a" * 5)

aaaaa

#### 10. Indexando y cortando listas: 
    Es posible además indexar y cortar una lista. Cuando hablamos de indexar una lista -de tamaño N- básicamente lo que hacemos es quedarnos con el elemento número i de la lista, donde i es el orden que va de 0 hasta N.

In [51]:
print(fullName[0])
print(fullName[1:6])
print(fullName[0:6])
print(fullName[0:6][-1])
print(fullName[:])

F
ranco
Franco
o
Franco Calle

    Además podemos dividir un string en función de algun caracter en el string, en este caso dividiremos el string en cada espacio con la función split(). En la funcion introducimos el caracter que hara la división del string varios substrings.

In [62]:
str = 'I am learning Python'

#Separar Strings
str1 = str.split(' ')
str2 = str.split(' ', maxsplit=1)
print(str1, str2)

['I', 'am', 'learning', 'Python'] ['I', 'am learning Python']

    Es posible además unir strings.

In [63]:
proteinasList = ['Carne', 'Pollo', 'Cerdo', 'Pescado']
proteinas = ', '.join(proteinasList)
print(proteinas)

Carne, Pollo, Cerdo, Pescado

In [65]:
proteinas.upper() # Cambiar string a mayusculas

'CARNE, POLLO, CERDO, PESCADO'

In [64]:
proteinas.lower() # Cambiar string a minusculas

'carne, pollo, cerdo, pescado'

    Formateando Strings

In [66]:
numbers = '%s, %s' % ('one', 'two')
numbers = '%i, %i' % (1, 2)
numbers = '%f, %f' % (1, 2)
'{}'.format(2)
'{1} {0}'.format(1,2)

'2 1'

#### 11. Mas operaciones:

In [ ]:
import math

pi = math.pi
eps = math.e
sq4 = math.sqrt(4)
math.exp(2)
math.log(4)
math.log(math.e)